html, p {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    word-spacing: 8px;
    line-height: 150%;
    color: #777777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

.heading {
    font-size: 36px;
    color: #ffffff;
    font-weight: 800;
    background-color: #4aaaa5;
    float: left;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -30px;
    margin-top: -7px;
}

.footing {
    background: #666666;
    width: 99%;
    height: 40px;
    padding-top: 25px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.top-side {
    height: 60px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.back-side {
    background: url("../images/beige-tiles.png");
    background-repeat: repeat;
    height: auto;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-top: 4px solid #4aaaa5;
    border-bottom: 4px solid #4aaaa5;
}

.main {
    background: #ffffff;
    border: 1px solid #dddddd;
    width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-top: 0;
    overflow: auto;
}

.identify {
    font-size: 28px;
    color: #4aaaa5;
    font-weight: 800;
    background-color: #ffffff;
    margin-top: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contactform {
    width: 100%;
    height: 30px;
}

.contactform2 {
    width: 100%;
    height: 300px;
}

.pform {
    font-size: 20px;
}

#bttn {
    width: 170px;
    height: 60px;
    background-color: #4aaaa5;
    color: #eeeeee;
    font-size: 20px;
}

.porty {
    /* float: left; */
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    padding: 5px;
    position: relative;
}

.caption2 {
    text-align: center;
    position: absolute;
    bottom: 250px;
    width: 190px;
    height: 35px;
    padding-top: 20px;
    margin-left: 10px;
    background-color: #4aaaa5;
    color: #eeeeee;
    font-size: 20px;
}

.caption {
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 190px;
    height: 35px;
    padding-top: 20px;
    margin-left: 10px;
    background-color: #4aaaa5;
    color: #eeeeee;
    font-size: 20px;
}

.navi {
    float: right;
    margin-top: 0;
    padding-top: 0;
    word-spacing: 5px;
    margin-right: 0;
}

.nolink {
    text-decoration: none;
    color: #777777;
    font-size: 20px;
    margin-top: 100px;
    padding-top: 40px;
}

#profile {
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 20px;
    padding-bottom: 5px;
}

.par {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    word-spacing: 8px;
    line-height: 200%;
    color: #777777;
}